@using App.Domain.Core.Models.Identity.AccountDto

@model RegisterDto;

@{
    ViewData["Title"] = "Register";
}

<form asp-controller="Account" asp-action="Register" method="post">
    <div class="mb-3">
        <label asp-for="FirstName" class="form-label">FirstName </label>
        <input asp-for="FirstName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your FirstName with anyone else.</div>
    </div>
    <div class="mb-3">
        <label asp-for="LastName" class="form-label">LastName </label>
        <input asp-for="LastName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your LastName with anyone else.</div>
    </div>
    <div class="mb-3">
        <label asp-for="UserName" class="form-label">UserName </label>
        <input asp-for="UserName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your UserName with anyone else.</div>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email address</label>
        <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label asp-for="PassWord" for="PassWord" class="form-label">Password</label>
        <input asp-for="PassWord" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>



